.chatApp{
  display: grid;
  position: fixed;
  background-color: #dcddd4;
  background-position: center;
  background-size: cover;
  place-items: center;
  height: 100%;
  width: 100%;
  
}

.chatApp-container {  
  margin-top: -2%;
  display: flex;
  background-color: #ebece3;
  height: 85%;
  width: 90%;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}