.portfolio-section {
  height: 100vh;
  padding: 2em;
  background-color: #f4f4f4;
}

.section-title {
  font-size: 2em;
  color: #333;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 45%; /* Adjust as needed */
  margin-bottom: 2em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.project-title {
  font-size: 1.5em;
}

.project-description {
  color: #666;
}

.project-screenshot {
  animation: slide-fwd-right 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
}